---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import { slugify } from '../../scripts/utils.js';
import { formatDate } from '../../scripts/utils.js';
import '../../styles/global.css';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();

---

<BlogPost {...post.data}>
	<div class="headerPost">
		<div class="postCategory">{post.data.categoria}</div>
		<div class="postDate">
			📅 {formatDate(post.data.pubDate)}
		</div>
	</div>
	<h1>{post.data.title}</h1>
	<Content />
	 
	<h2>Commenti:</h2>
	<div class="comments" id="disqus_thread"></div>
	
	<script>
		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
		
		var disqus_config = function () {
		this.page.url = `/blog/${post.slug}/`;  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = post.id; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://egidiu-gabor-1.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</BlogPost>


