@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');

html {
  background-color: #fdfeff;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h2 {
  margin: 1rem 0;
  font-size: 2.0rem;
}

p {
  font-size: 1.1rem;
  margin: 0.8rem 0;
  font-weight: 400;
}

li, button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}

ul {
  margin-left: 2rem;
}

li {
  font-weight: 400;
  font-size: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  height: 5em;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

.container {
  padding: 0rem;
}

.responsive {
  width: 100%;
  height: auto;
}

.logo {
  height: 5em;
  width: 5em;
}

.navlinks {
  padding: 2em;
}

.navlinks li {
  display: inline-block;
  height: 100%;
}

.navlinks li a {
  transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
  height: 100%;
}

.button {
  align-items: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 1rem 1.2rem;
  text-align: center;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  transition-duration: 0.4s;
  width: 50%;
  margin: auto;
  margin-top: 1em;
  background-color: #000000;
  color: white;
}

.button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.social-button {
  display: inline-block;
  align-items: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 1rem 1.2rem;
  text-align: center;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  transition-duration: 0.4s;
  width: 100%;
  margin-top: 0em;
  color: white;
}

.social-button.facebook {
  background: linear-gradient(90deg, rgba(66,103,178,1) 0%, rgba(40,40,40,1) 120%);
}
.social-button.instagram {
  background: linear-gradient(90deg, rgba(254,218,117,1) 0%, rgba(250,126,30,1) 20%, rgba(214,41,118,1) 40%, rgba(150,47,191,1) 60%, rgba(79,91,213,1) 80% ,rgba(40,40,40,1) 120%);
}
.social-button.linkedin {
  background: linear-gradient(90deg, rgba(14, 118, 168,1) 0%, rgba(40,40,40,1) 120%);
}
.social-button.youtube {
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(40,40,40,1) 120%);
}
.social-button.X {
  background: linear-gradient(90deg, rgb(0, 9, 14) 0%, rgba(40,40,40,1) 120%);
}
.social-button.threads {
  background: linear-gradient(90deg, rgb(0, 9, 14) 0%, rgba(40,40,40,1) 120%);
}

.social-button:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.navigazione {
  margin-top: 2em;
  margin-bottom: 2em;
}

.nav-button {
  align-items: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  line-height: 1;
  padding: 1rem 1.2rem;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  transition-duration: 0.4s;
  margin-top: 1em;
  background-color: #000000;
  color: white;
  align-content: right;
}

.nav-button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

body {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 120ch;
  padding: 1rem;
  line-height: 1.5;
}

.home-section {
  display: flex;
  align-items: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  max-height: 40rem;
}

@media (max-width: 860px) {
  .home-section {
    display: block;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }

  .home-cta {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  
  .home-image {
    display: none;
    width: 500px;
    height: 500px;
    align-items: center;
  }
}

.home-cta {
  display: grid;
	align-items: center;
	justify-content: center;
  width: 100%;
  height: 100%;
  position:relative;
  padding: 5rem;
  float: left;
}

.home-image {
  float: right;
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.principal-image {
  width: 60%;
  height: 60%;
  position:relative;
  align-items: center;
  justify-content: center;
  float: left;
  border-radius: 50%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
}

.blog-section {
  display: grid;
  grid-template-columns: 1fr 20em;
  min-height: 30em;
}

@media (max-width: 860px) {
  .blog-section {
    display: block;
  }
}

.home-blog-section {
  display: grid;
  min-height: 20em;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin-top: 2em;
  min-width: 30em;
}

.home-postcard {
  grid-row: 1;
  grid-column: 1;
  min-height: 20em;
  align-items: center;
  width: 100%;
  min-width: 20em;
}

.article {
  align-items: center;
  width: 95%;
  min-width: 20em;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.article-content {
  padding: 1rem;
}

.list-post {
  list-style: none;
  margin-left: 0rem;
}

@media (max-width: 860px) {
  body {
    max-width: 80ch;
  }

  .home-blog-section {
    min-height: 15em;
    align-content: center;
    max-width: 60em;
    width: 100%;
    margin-top: 2em;
    min-width: 15em;
  }

  .article {
    align-items: center;
    width: 100%;
    min-width: 20em;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
  }

  .list-post {
    margin-left: 0rem;
  }
}

.post-img-container {
  height: 100%;
}

.home-post-image {
  object-fit: contain;
  max-width: 100%;
}

.home-post-content {
  width: 100%;
  margin-top: auto;
  padding: 20px;
}

.home-post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-button {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0.7rem;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  transition-duration: 0.4s;
  background-color: #000000;
  color: white;
}

.info-button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.categoria {
  list-style: none;
  display: inline-block;
  padding-top: 0.8rem;
  padding-right: 0.2rem;
}

.badge {
  font-weight: 400;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0.7rem;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  transition-duration: 0.4s;
  background-color: #000000;
  color: white;
}

.badge:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sidebar {
  display: block;
  grid-row: 1; 
  grid-column: 2;
  width: 100%;
  margin: 2em 0 0 0;
}

.sidebar-element-1 {
  grid-row: 1; 
  width: 100%;
  height: auto;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.sidebar-element-2 {
  grid-row: 2; 
  width: 100%;
  height: auto;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin: 1em 0 0 0;
}

/* Serve per troncare l'anteprima del testo del post */
p.home-post-text {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /*Il conenuto viene troncato alla terza riga*/
  -webkit-line-clamp: 3; 
  overflow: hidden;
}

footer {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  padding: 2em;
  margin-top: 1em;
  display: grid;
	align-items: center;
	justify-content: center;
  position:relative;
}

/* Attributi utili nel post */
.headerPost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.postCategory {
  align-content: flex-start;
  background-color: #000000;
  color: #fdfeff;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
}
.postDate {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: end;
}
.quote {
  border-left: #000000;
  border-left-style: solid;
  padding-left: 1em;
  font-weight: 300;
}
.photo-gallery {
  display: flex;
  gap: 20px;
}

.youtube {
  text-align: center;
}


/* Classi utili per le pagine*/

.heroImagePage {
  max-width: 100%;
}

.postImage {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.article-content a {
  color: #cf8611;
}

.comments {
  margin-top: 1rem;
}

/* chi sono */
.chisono-section {
  display: flex;
  min-height: 15rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  margin-top: 1rem;
}

.chisono-postcard {
  min-height: 15rem;
  align-items: center;
  width: 100%;
  min-width: 20em;
  padding: 1.5rem;
}
.chisono-image {
  width: 60%;
  height: 60%;
  position:relative;
  align-items: center;
  justify-content: center;
  float: left;
  border-radius: 50%;
  margin-top: 2rem;
  width: 20%;
  min-width: 20em;
}

.line {
  width: "100%";
  size: "20";
  color: "black";
  border-top: 1px solid rgb(100, 100, 100);
}



