---
import HeaderLink from "../components/HeaderLink.astro";
---

<div class="container" >
    <div>
        <h1 class="h1">Attenzione</h1>
        <p>Credo sia andato storto qualcosa..</p>
    </div>
    <HeaderLink
            href="/"
            style="secondary"
    >Go Home</HeaderLink>
</div>  