---
import Layout from '../layouts/BlogPost.astro';
import '../styles/global.css';
---

<Layout
	title="Chi sono"
	description="Chi sono Egidiu Gabor"
	pubDate={new Date('Aprile 21 2023')}
	updatedDate={new Date('Aprile 21 2023')}
	heroImage="/image/chisonobanner.jpg"
>
	<p>
		Mi chiamo Egidiu, sono nato nel lontano '94, e amo la tecnologia in tutte le sue forme. In questa pagina
		dovrei parlarti di me, ma non lo voglio fare in maniera noiosa, come se fosse il CV della mia vita.
	</p>
	<p>
		Spero sia apprezzato..
	</p>
	<p>
		Sono nato in un piccolo paesino vicino a Bacau in Romania. Fin da piccolo ho amato ogni cosa che avesse
		un pulsante di accensione, quindi all'età di 6 anni i miei mi hanno comprato il primo PC fisso.
	</p>
	<p>
		Era appena uscito Windows 98, ed avere tra le mani una macchina così potente mi affascinava tantissimo.
		Non avevo nessuno che mi insegnasse, testavo, provavo e facevo tutto da solo.
	</p>
	<p>
		All'età di 10 anni mi sono trasferito in Italia, e questo passo mi ha letterlamente cambiato la vita.
		Mi si è aperto un mondo, ho scoperto internet e ho iniziato a dedicarmi attivamente anche al calcio.
	</p>
	<p>
		Ho fatto un ITIS con indirizzo informatico, che mi ha introdotto definitivamente al mondo della programmazione.
		In quinta superiore insieme ad un amico abbiamo aperto il nostro primo Blog Wordpress su Android, si chiamava Fundroid, 
		dove parlavamo scrivevamo recensioni, articoli e notizie sul mondo Android a 360°. 
	</p>
	<p>
		Ho iniziato Ingegneria Informatica all'università di Padova, per approfondire e migliorare le mie conoscenze informatiche.
		E dopo 3 anni ho fatto un corso per diventare Sviluppatore Cobol Mainframe.
		Ho lavorato come sviluppatore Cobol Mainframe per una società di consulenza a Milano, dove ho acquisito numerose competenze
		sia tecniche che umane. 
	</p>
	<p>
		Ora sto iniziando una nuova esperienza lavorativa che mi porterà a scoprire nuove tecnologie e nuovi progetti, che vi racconterò
		in questo Blog.
	</p>
	<br>
</Layout>
