---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PostCard from '../components/PostCard.astro';
import Sidebar from '../components/Sidebar.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<section class="home-section">
				<div class="home-cta">
					<h1>Hey, sono Egidiu</h1>
					<p1>In questo blog troverai pensieri, storie e idee!</p1>
					<a href="/chisono" class="button">Scopri di più</a>
				</div>
				<div class="home-image"><img class="principal-image" src="/image/blog-header.png" alt="logo"></div>
			</section>
			<section class="blog-section">
				<div class="home-postcard"><PostCard /></div>
				<div class="sidebar">
					<Sidebar />
				</div>
			</section>
		</main>
		<Footer />

		<script>
			
			declare global {
				interface Window {
					netlifyIdentity: any; 
				}
			}
			if (window.netlifyIdentity) {
			  window.netlifyIdentity.on("init", (user: any) => {
				if (!user) {
				  window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				  });
				}
			  });
			}
			import "../scripts/menu.js";
		  </script>
	</body>
</html>
