---
import { getCollection } from 'astro:content';
import { slugify } from "../scripts/utils";

const allPost = (await getCollection('blog')).sort(
	(b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const allCategories = allPost.map((cat) => cat.data.categoria.toLowerCase()).flat();


const processedCats = allCategories.reduce((acc, category) => {
    const value = acc[category] || 0;
    return {
        ...acc,
        [category]: value + 1
    } 
}, {})

const { showCount } = Astro.props;

console.log(processedCats);
---
<h2>Categorie..</h2>
<ul>
    {
        Object.entries(processedCats).map(([key, val]) => (
            <li class="categoria">
                <a class="badge" href={`/categoria/${slugify(key)}/`}>{key}</a>
            </li>
        ))
    }
</ul>