---
const today = new Date();
import '../styles/global.css';
---

<footer class="footer">
			<p>Questo Blog è proprietà di Egidiu Gabor. Copyright &copy; {today.getFullYear()} | All rights reserved.</p>
</footer>

