---
import '../styles/global.css';
---
<nav>
    <ul class="navlinks">
		<li><a href="/" class="info-button">HOME</a></li>
		<li><a href="/blog" class="info-button">BLOG</a></li>
		<li><a href="/categoria/recensioni" class="info-button">RECENSIONI</a></li>
		<li><a href="/chisono" class="info-button">CHI SONO</a></li>
    </ul>
</nav>
 