---
import '../styles/global.css';
---
<nav>
    <ul class="navlinks">
		<li><a href="/" class="info-button">Home</a></li>
		<li><a href="/blog" class="info-button">Blog</a></li>
		<li><a href="/chisono" class="info-button">Chi sono</a></li>
    </ul>
</nav>
 