---
import '../styles/global.css';
---

<div class="sidebar-element-1">
    <h2>Seguimi su..</h2>
    <button class="social-button" style="background-color:#3b5998;"><a href="https://www.facebook.com/gaboregidiu">Facebook</a></button>
    <button class="social-button" style="background-color:#F56040;">Instagram</button>
    <button class="social-button" style="background-color:#0e76a8;">Linkedin</button>
    <button class="social-button" style="background-color:#c4302b;">Youtube</button>
    <button class="social-button" style="background-color:#1D9BF0;">Twitter</button>
</div>
