---
import CategoryCloud from './CategoryCloud.astro'
import '../styles/global.css';
---

<div class="sidebar-element-1">
    <h2>Seguimi su..</h2>
    <a class="social-button facebook" href="https://www.facebook.com/gaboregidiu">Facebook</a>
    <a class="social-button instagram" href="https://www.instagram.com/egidiugabor/">Instagram</a>
    <a class="social-button threads" href="https://www.instagram.com/egidiugabor/">Threads</a>
    <a class="social-button linkedin" href="https://www.linkedin.com/in/egidiu-gabor/">Linkedin</a>
    <a class="social-button youtube" href="https://www.youtube.com/channel/UCz33V6jc_-1SBgJ5VAvyw7w">Youtube</a>
    <a class="social-button X" href="https://x.com/EgidiuG">X</a>
</div>
<div  class="sidebar-element-2">
    <CategoryCloud />
</div>
