---
import '../styles/global.css';
---

<div class="sidebar-element-1">
    <h2>Seguimi su..</h2>
    <a class="social-button facebook" href="https://www.facebook.com/gaboregidiu">Facebook</a>
    <a class="social-button instagram" href="https://www.facebook.com/gaboregidiu">Instagram</a>
    <a class="social-button linkedin" href="https://www.facebook.com/gaboregidiu">Linkedin</a>
    <a class="social-button youtube" href="https://www.facebook.com/gaboregidiu">Youtube</a>
    <a class="social-button twitter" href="https://www.facebook.com/gaboregidiu">Twitter</a>
</div>
