---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css';

const { title, description, heroImage } = Astro.props;

---
<html lang="it">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<div class="container">
		<main>
            <div class="heroImagePage">
                <img src={heroImage} width="100%">
            </div>
			<div>
				<slot />
			</div>
		</main>
		</div>
		<Footer />
	</body>
</html>